body{
  background-color: rgb(60, 156, 251);
}
.circle {
  background: white;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}

#circle1 {
  top: 500px;
  left: 500px;
  height:250px;
  width: 250px;
  animation: cloud infinite alternate 3s;
  background-color: blanchedalmond;
}
#circle2 {
  top: 500px;
  height: 250px;
  width: 250px;
  left: 750px;
  animation: cloud infinite 3s alternate 1s;
  background-color: burlywood;
}

#circle3 {
  top: 500px;
  left: 1000px;
  height:250px;
  width: 250px;
  animation: cloud infinite 3s alternate 2s;
  background-color: darkgoldenrod;
}

@keyframes cloud {
  100% {
    transform: translateY(500px);
  }
}

@keyframes fall {
  100% {
    transform: translateY(410px);
  }
}