

.ball {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: rgba(255,0,0,1);
  position: absolute;
  top: 100px;
  left: 100px;
  animation: ball-animation 4s linear alternate infinite;
}

@keyframes ball-animation {
  25% {
    transform: scale(1.5);
  }
  50% {
    background: green;
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    background:blue;
  }
}