body{
  background: black;
}

.ball {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: rgba(255,0,0,1);
  position: absolute;
  animation: ball-animation 4s linear alternate infinite;
}

@keyframes ball-animation {
  25% {
    transform: scale(.5);
  }
  50% {
    background: yellow;
  }
  100% {
    background:green;
  }
}