#canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
h2 {
  color: var(--fg);
  position: relative;
  font-size: 5vw;
  line-height: 100vh;
  margin: 0;
  pointer-events: none;
  z-index: 1;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
:root {
  --fg: #ff4000;
  --bg: #000057;
}