html {
  background: black;
}
.container-for-animation {
  width: 2000px;
  height: auto;
  background-color: black;
  position: relative;
}

.square1 {
  height: 700px;
  width: 225px;
  background-color: rgba(255,0,0, .7);
  z-index: 10;
  position: absolute;
  top: 0px;
  left: -225px;
  animation: slide-in 3s linear forwards;
}
.square2 {
  height: 700px;
  width: 225px;
  background-color: rgba(255,0,0, .7);
  z-index: 10;
  position: absolute;
  top: 0px;
  left: -225px;
  animation: sink-in 5s linear forwards;
}

.image {
  animation: color-out 5s linear forwards;
}

@keyframes slide-in {
  0%{
    transform: translateX(0px) scale(0) rotateZ(90deg);
  }
  100% {
    transform: translateX(225px);
  }
}

@keyframes sink-in {
  0% {
    transform: translateX(225px);
  }
  100% {
    transform: translateX(0px) scale(0) rotateZ(90deg);
  }
}

@keyframes color-out {
  0% {
    filter: grayscale(0%);
  }
  100% {
    filter: grayscale(100%);
  }
}