#canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.text {
  border-radius: 20px;
  position: absolute;
  top: 120px;
  left: 100px;
  color: black;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 50px;
  border: 5px solid whitesmoke;
  background: rgba(222,122,122,.3);
  box-shadow: 5px 5px 5px silver;
  animation: twitch linear forwards 7s;
}

@keyframes twitch{
  0% {
    transform: rotateZ(-10deg) scale(.1);
  }

  100% {
    transform: rotateZ(26deg) scale(1.1);
  }
}