body {
  color: white;
  background: black;
}

.select {
  padding: 10px;
  font-size: 2rem;
  display:block
}
.button {
  font-size: 2rem;
  padding: 5px;
  margin-top: 25px;
}
.ball {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid black;
  background: silver;
  position: absolute;
}

.horizontal {
  top: 900px;
  animation: horizontal-animation 3s linear infinite alternate;
}

.vertical {
  left: 400px;
  animation: vertical-animation 3s linear infinite alternate;
}

.diagonal-left{
  top: 500px;
  left: 800px;
  animation: diagonal-left-animation 3s linear infinite alternate;
}

.diagonal-right{
  top: 500px;
  animation: diagonal-right-animation 3s linear infinite alternate;
}

.zoom{
  top: 900px;
  left: 400px;
  animation: zoom-animation 3s linear infinite;
}

.spin{
  top: 900px;
  left: 400px;
  animation: spin-animation 3s linear infinite alternate;
}

@keyframes horizontal-animation {
  0% {
    transform: translate(0px) scale(0);
  }
  25% {
    transform: translate(200px) scale(1);
  }
  50% {
    transform: translate(400px) scale(1);
    background: blue;
  }
  75% {
    transform: translate(600px);
  }
  100%{
    transform: translate(800px) scale(0.1);
    background: silver;
  }
}

@keyframes vertical-animation {
  0% {
    transform: translateY(0px) scale(0);
  }
  25% {
    transform: translateY(200px) scale(1);
  }
  50% {
    transform: translateY(400px) scale(1);
    background: red;
  }
  75% {
    transform: translateY(600px);
  }
  100%{
    transform: translateY(800px) scale(0.1);
    background: silver;
  }
}

@keyframes diagonal-right-animation {
  0% {
    transform: translate(0px, 0px) scale(0);
  }
  25% {
    transform: translate(200px, 200px) scale(1);
  }
  50% {
    transform: translate(400px, 400px) scale(1);
    background: green;
  }
  75% {
    transform: translate(600px, 600px);
  }
  100%{
    transform: translate(800px, 800px) scale(0.1);
    background: silver;
  }
}

@keyframes diagonal-left-animation {
  0% {
    transform: translate(0px, 0px) scale(0);
  }
  25% {
    transform: translate(-200px, 200px) scale(1);
  }
  50% {
    transform: translate(-400px, 400px) scale(1);
    background: purple;
  }
  75% {
    transform: translate(-600px, 600px);
  }
  100%{
    transform: translate(-800px, 800px) scale(0.1);
    background: silver;
  }
}

@keyframes spin-animation {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
    background: gold;
  }
  75% {
    transform: rotateY(270deg);
  }
  100%{
    transform: rotateY(360deg);
    background: silver;
  }
}

@keyframes zoom-animation {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
    background: orange;
  }
  75% {
    transform: scale(1);
  }
  100%{
    transform: scale(.1);
    background: silver;
  }
}